<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<%= javascript_tag do %>
    columnsData = []

    columnLabels = <%= @columnNames.to_s.html_safe %>;
    columnLabels.unshift(null);
    columnsData.push(columnLabels)


    <% @inventoryByVariant.each do |key, value| %>
        values = <%= value.to_s.html_safe %>
        values.unshift("<%= key %>")
        columnsData.push(values)
    <% end %>


    $(function () {
      $('#container').highcharts({
        chart: {
         type: 'column'
        },

        title: {
         text: 'Inventory By SKU'
        },

        data: {
          columns: columnsData
        }
      });
    });
<% end %>